.movie-category {
  .booking-movie-search {
    margin-bottom: 32px;
  }
  .not-find-movie {
    text-align: center;
    img {
      padding: 30px 0 60px 0;
    }
    h3 {
      font-size: 30px;
    }
  }
}
